/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #212121;
    color: white;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5px;
    line-height: 65px;
    /* Vertically center the text there */
    background-color: #212121;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt-1 {
    padding-bottom: 55px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 500%;
}

.display {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    margin-top: 40px;
}

#you {
    color: #80CBC4;
}

.weather-icon {
    text-align: center;
    margin-top: -30px;
}

.test {
    margin-top: -32px;
    text-align: center;
}

#here {
    font-family: 'Indie Flower', cursive;
    font-size: 230%;
}

#change {
    cursor: pointer;
}

#change:hover {
    color: #3F51B5;
}

.center {}

.text-muted {
    margin: auto;
    display: table;
}

@media (max-width: 767px) {
    .test img {
        width: 10%;
    }
    .mt-1 {
        font-size: 250%;
    }
}

@media (min-width: 768px) {
    .test img {
        width: 7%;
    }
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
